* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 30px;

}

header .btn_1 {
    padding: 13px 20px;
    border-radius: 30px;
    border: none;
    border: solid 1.5px #FC427B;
    background-color: transparent;
    color: #FC427B;


}

header .logo {
    font-size: 40px;
    font-weight: 900;

}

header .logo i {
    color: #FC427B;
    font-size: 40px;
    padding: 15px;

}

main {
    text-align: center;
    padding-top: 100px;
    width: 70%;
    margin: auto;

}

main h1 {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 20px;


}

main p {
    width: 60%;
    margin: auto;


}

main .btn_2 {
    padding: 14px 40px;
    border: none;
    background-color: #FC427B;
    border-radius: 25px;

    color: white;
    margin-top: 20px;

}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.counter i {
    color: #FC427B;
    font-size: 30px;
}

.counter h1 {
    font-size: 70px;
    font-weight: 900;
    color: #333;
}

.counter p {
    color: #333;
    padding-top: 10px;
}

.grow_tgothe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;

}

.grow_tgothe .text {
    padding: 20px;
}

.grow_tgothe .text h1 {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 900;

}

.grow_tgothe .text p {
    width: 90%;
}

.flowing_Converastion {
    background-color: #fc427a40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 0 100px;
    flex-direction: row-reverse;
    padding-top: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    padding-bottom: 60px;

}

.flowing_Converastion h1 {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 900;
    text-align: right;
    margin-right: 130px;
}

.flowing_Converastion p {
    width: 70%;
    text-align: right;
    margin: auto;


}

.Your_USERS {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 100px;

}

.Your_USERS h1 {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
}

.Your_USERS p {
    width: 80%;
}

.Your_USERS img {
    background-color: #fc427a52;
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.text {
    text-align: center;
    padding-bottom: 100px;
}

.text button {
    padding: 14px 40px;
    border: none;
    background-color: #FC427B;
    border-radius: 25px;

    color: white;
    margin-top: 20px;
}

.footer {
    display: flex;
    width: calc(12/6);
    background-color: #333;
    width: 90%;
    margin: auto;
    color: white;
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    gap: 30px;
}

.footer .row_1 .logo {
    font-size: 20px;
    padding-bottom: 10px;

}

.footer .row_1 .logo i {
    padding: 10px;
}

.footer .row_1 p {
    width: 80%;
    padding-bottom: 10px;
    font-size: 13px;
}

.footer .row_1 p i {
    padding-right: 10px;
}

.footer .row_1 .social_icon i {
    padding: 10px;

}

.footer .row_2 h1 {
    font-size: 20px;
    padding-bottom: 10px;

}

.footer .row_2 p {
    width: 80%;
    font-size: 13px;
}

.footer .row_2 .btn_footer {
    padding: 10px 30px;
    border: none;
    background-color: #FC427B;
    border-radius: 20px;

    color: white;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 10px;

}

.btn_scroll {
    padding: 17px;
    color: white;
    font-size: 20px;
    background-color: #FC427B;
    ;
    border: none;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}


@media (max-width:900px) {

    main h1 {
       font-size: 30px;
    }
    .counter {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .grow_tgothe {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .flowing_Converastion {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .Your_USERS {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}